.features {
  list-style: none;
  background-color: #3c4a49;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  margin: 3rem 0 0;
  color: #fff;
}
.features-list {
  display: flex;
  align-items: center;
}
.features-list h5 {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.features-list img {
  margin-right: 0.5rem;
}
