.payment {
  display: flex;
  align-items: center;
}

.payment img {
  width: 50%;
}
.payment h1 {
  font-size: 80px;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.2;
  letter-spacing: 1.5px;
}
